.my-menu {
    position: relative;    
    margin-left: 10px;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.closed {
    position: absolute;
    display: none;
}

.open {
    position: absolute;
    display: block;        
    background-color: burlywood;    
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    transform: translateY(5px);
    margin-left: 10px;    
}